@mixin navbar {
	background-color: transparent !important;
}

@mixin hero-img {
	background-image: url('https://source.unsplash.com/1600x900/?art,design,minimal');
}

@mixin mobile-hero-img {
	background-image: url('https://prod-cdn.wetransfer.net/packs/media/images/home-illustration-6ea2e70b.jpg');
}

@mixin body-background {
	@include hero-img;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
	body {
		@include body-background;
	}

	.navbar {
		@include navbar;
	}
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	/* CSS */
	body {
		@include body-background;
	}

	.navbar {
		@include navbar;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	body {
		@include body-background;
	}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	/* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
	/* CSS */
	body {
		@include body-background;
		@include mobile-hero-img;
		background-position: center;
	}

	.navbar {
		@include navbar;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
	body {
		@include body-background;
		@include mobile-hero-img;
		background-position: top;
	}

	.navbar {
		@include navbar;
	}
}
