@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

body {
	font-family: 'Vazir', sans-serif !important;
}

.row {
	height: 100vh !important;
}

.alert {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
