@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import 'mediaqueries';

body {
	font-family: 'Vazir', sans-serif !important;
}

.site-title {
	font-family: 'Lalezar', cursive;
}

.logo-circle {
	background: rgb(63, 255, 201);
	background: linear-gradient(220deg, rgba(63, 255, 201, 1) 0%, rgba(40, 167, 69, 1) 100%);
}
